<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="Certificati.aspx" >
	<system.web>
	  <authorization>
		<allow roles="Amministratore,Produttore"/>
		<deny roles="Operatore,Utente"/>
	  </authorization>
	</system.web>
  </location>
  <location path="Tariffario.aspx" >
	<system.web>
	  <authorization>
		<allow roles="Produttore"/>
		<deny roles="Amministratore,Monitor,Operatore,Utente"/>
	  </authorization>
	</system.web>
  </location>
  <location path="TariffarioD.aspx" >
	<system.web>
	  <authorization>
		<allow roles="Produttore"/>
		<deny roles="Amministratore,Monitor,Operatore,Utente"/>		
	  </authorization>
	</system.web>
  </location>
  <location path="TariffarioP.aspx" >
	<system.web>
	  <authorization>
		<allow roles="Produttore"/>
		<deny roles="Amministratore,Monitor,Operatore,Utente"/>	
	  </authorization>
	</system.web>
  </location>
</configuration>