<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <deny users="?" />
        </authorization>      
    </system.web>
  <location path="ListaLog.aspx" >
    <system.web>
      <authorization>
        <deny roles="Operatore,Produttore,Monitor"/>
      </authorization>
    </system.web>
  </location>
</configuration>