<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
          <allow roles="Amministratore,Monitor,Produttore,Operatore" />
          <deny users="*" />
        </authorization>
    </system.web>
  <location path="Upload.aspx" >
    <system.web>
      <authorization>
        <deny roles="Monitor"/>
      </authorization>
    </system.web>
  </location>
  <location path="ListaProtocolli.aspx" >
    <system.web>
      <authorization>
        <deny roles="Monitor,Utente"/>
      </authorization>
    </system.web>
  </location>
  <location path="UploadDismessi.aspx" >
    <system.web>
      <authorization>
        <deny roles="Monitor,Produttore,Utente"/>
      </authorization>
    </system.web>
  </location>
  <location path="UploadDisabbinati.aspx" >
    <system.web>
      <authorization>
        <deny roles="Monitor,Produttore,Utente"/>
      </authorization>
    </system.web>
  </location>
  <location path="VerificaPannelli.aspx" >
    <system.web>
      <authorization>
        <allow roles="Amministratore"/>
       <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>