<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authorization>
      <allow roles="Amministratore,Produttore" />
      <deny users="*" />
    </authorization>
  </system.web>
  <location path="ListaDichiarazioni.aspx" >
    <system.web>
      <authorization>
        <allow roles="Amministratore,Produttore,Operatore"/>
      </authorization>
    </system.web>
  </location>
  <location path="ListaAutocertificazioni.aspx" >
    <system.web>
      <authorization>
        <allow roles="Amministratore,Produttore,Operatore"/>
      </authorization>
    </system.web>
  </location>
  <location path="Autocertificazione.aspx" >
    <system.web>
      <authorization>
        <allow roles="Amministratore,Produttore,Operatore"/>
      </authorization>
    </system.web>
  </location>
  <location path="VerificaDichiarazioni.aspx" >
    <system.web>
      <authorization>
        <allow roles="Amministratore,Operatore"/>
        <deny roles="Produttore,Monitor,Cliente" />
      </authorization>
    </system.web>
  </location>
  <location path="VerificaAutocertificazioni.aspx" >
		<system.web>
			<authorization>
				<allow roles="Amministratore,Operatore"/>
				<deny roles="Produttore,Monitor,Cliente" />
			</authorization>
		</system.web>
	</location>
</configuration>