<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
          <allow roles="Amministratore,Monitor,Utente" />
          <deny users="*" />
        </authorization>
    </system.web>
  <location path="UploadPannelli.aspx" >
    <system.web>
      <authorization>
        <deny roles="Monitor"/>
      </authorization>
    </system.web>
  </location>
  <location path="Aggiungi.aspx" >
    <system.web>
      <authorization>
        <deny roles="Monitor"/>
      </authorization>
    </system.web>
  </location>
</configuration>