<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
          <allow roles="Amministratore,Professionale,Operatore" />
          <deny users="*" />
        </authorization>
    </system.web>
  <location path="Dichiarazione.aspx" >
    <system.web>
      <authorization>
        <allow roles="Amministratore,Professionale,Operatore" />
        <deny roles="Monitor,Produttore,Utente"/>
      </authorization>
    </system.web>
  </location>
  <location path="VerificaDichiarazioni.aspx" >
    <system.web>
      <authorization>
        <deny roles="Monitor,Produttore,Utente"/>
      </authorization>
    </system.web>
  </location>
</configuration>